FlowfinityConnectionHelper/Service References/FASR/Public9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://flowfinity.com/ServiceContract" elementFormDefault="qualified" targetNamespace="http://flowfinity.com/ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="/fa/integration/Public?xsd=xsd2" namespace="http://flowfinity.com/contract" />
  <xs:complexType name="Execute">
    <xs:sequence>
      <xs:element xmlns:q97="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q97:ExecuteRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Execute" nillable="true" type="tns:Execute" />
  <xs:complexType name="ExecuteResponse">
    <xs:sequence>
      <xs:element xmlns:q98="http://flowfinity.com/contract" minOccurs="0" name="ExecuteResult" nillable="true" type="q98:ExecuteResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResponse" nillable="true" type="tns:ExecuteResponse" />
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element xmlns:q99="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q99:QueryRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="QueryResponse">
    <xs:sequence>
      <xs:element xmlns:q100="http://flowfinity.com/contract" minOccurs="0" name="QueryResult" nillable="true" type="q100:QueryResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryResponse" nillable="true" type="tns:QueryResponse" />
  <xs:complexType name="GetTransaction">
    <xs:sequence>
      <xs:element xmlns:q101="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q101:TransactionRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransaction" nillable="true" type="tns:GetTransaction" />
  <xs:complexType name="GetTransactionResponse">
    <xs:sequence>
      <xs:element xmlns:q102="http://flowfinity.com/contract" minOccurs="0" name="GetTransactionResult" nillable="true" type="q102:TransactionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactionResponse" nillable="true" type="tns:GetTransactionResponse" />
  <xs:complexType name="GetTransactions">
    <xs:sequence>
      <xs:element xmlns:q103="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q103:TransactionsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactions" nillable="true" type="tns:GetTransactions" />
  <xs:complexType name="GetTransactionsResponse">
    <xs:sequence>
      <xs:element xmlns:q104="http://flowfinity.com/contract" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q104:TransactionsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactionsResponse" nillable="true" type="tns:GetTransactionsResponse" />
  <xs:complexType name="Callout_BackOrder_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q3="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q3:BackOrder_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_BackOrder_AddRecord" nillable="true" type="tns:Callout_BackOrder_AddRecord" />
  <xs:complexType name="Callout_BackOrder_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://flowfinity.com/contract" minOccurs="0" name="Callout_BackOrder_AddRecordResult" nillable="true" type="q4:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_BackOrder_AddRecordResponse" nillable="true" type="tns:Callout_BackOrder_AddRecordResponse" />
  <xs:complexType name="Callout_Estimation_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q7="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q7:Estimation_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Estimation_AddRecord" nillable="true" type="tns:Callout_Estimation_AddRecord" />
  <xs:complexType name="Callout_Estimation_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q8="http://flowfinity.com/contract" minOccurs="0" name="Callout_Estimation_AddRecordResult" nillable="true" type="q8:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Estimation_AddRecordResponse" nillable="true" type="tns:Callout_Estimation_AddRecordResponse" />
  <xs:complexType name="Callout_Timesheet_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q11="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q11:Timesheet_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_AddRecord" nillable="true" type="tns:Callout_Timesheet_AddRecord" />
  <xs:complexType name="Callout_Timesheet_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q12="http://flowfinity.com/contract" minOccurs="0" name="Callout_Timesheet_AddRecordResult" nillable="true" type="q12:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_AddRecordResponse" nillable="true" type="tns:Callout_Timesheet_AddRecordResponse" />
  <xs:complexType name="Callout_Timesheet_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q15="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q15:Timesheet_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_EditRecord" nillable="true" type="tns:Callout_Timesheet_EditRecord" />
  <xs:complexType name="Callout_Timesheet_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q16="http://flowfinity.com/contract" minOccurs="0" name="Callout_Timesheet_EditRecordResult" nillable="true" type="q16:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_EditRecordResponse" nillable="true" type="tns:Callout_Timesheet_EditRecordResponse" />
  <xs:complexType name="Callout_PlantProduction_GetWindowmaker">
    <xs:sequence>
      <xs:element xmlns:q19="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q19:PlantProduction_GetWindowmaker_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_GetWindowmaker" nillable="true" type="tns:Callout_PlantProduction_GetWindowmaker" />
  <xs:complexType name="Callout_PlantProduction_GetWindowmakerResponse">
    <xs:sequence>
      <xs:element xmlns:q20="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_GetWindowmakerResult" nillable="true" type="q20:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_GetWindowmakerResponse" nillable="true" type="tns:Callout_PlantProduction_GetWindowmakerResponse" />
  <xs:complexType name="Callout_PlantProduction_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q23="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q23:PlantProduction_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_AddRecord" nillable="true" type="tns:Callout_PlantProduction_AddRecord" />
  <xs:complexType name="Callout_PlantProduction_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q24="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_AddRecordResult" nillable="true" type="q24:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_AddRecordResponse" nillable="true" type="tns:Callout_PlantProduction_AddRecordResponse" />
  <xs:complexType name="Callout_PlantProduction_delete_1">
    <xs:sequence>
      <xs:element xmlns:q27="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q27:PlantProduction_delete_1_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_delete_1" nillable="true" type="tns:Callout_PlantProduction_delete_1" />
  <xs:complexType name="Callout_PlantProduction_delete_1Response">
    <xs:sequence>
      <xs:element xmlns:q28="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_delete_1Result" nillable="true" type="q28:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_delete_1Response" nillable="true" type="tns:Callout_PlantProduction_delete_1Response" />
  <xs:complexType name="Callout_Service_EditService">
    <xs:sequence>
      <xs:element xmlns:q45="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q45:Service_EditService_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Service_EditService" nillable="true" type="tns:Callout_Service_EditService" />
  <xs:complexType name="Callout_Service_EditServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q46="http://flowfinity.com/contract" minOccurs="0" name="Callout_Service_EditServiceResult" nillable="true" type="q46:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Service_EditServiceResponse" nillable="true" type="tns:Callout_Service_EditServiceResponse" />
  <xs:complexType name="Callout_HomeInstallations_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q49="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q49:HomeInstallations_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AddRecord" nillable="true" type="tns:Callout_HomeInstallations_AddRecord" />
  <xs:complexType name="Callout_HomeInstallations_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q50="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_AddRecordResult" nillable="true" type="q50:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AddRecordResponse" nillable="true" type="tns:Callout_HomeInstallations_AddRecordResponse" />
  <xs:complexType name="Callout_HomeInstallations_CreateServiceRequest">
    <xs:sequence>
      <xs:element xmlns:q53="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q53:HomeInstallations_CreateServiceRequest_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_CreateServiceRequest" nillable="true" type="tns:Callout_HomeInstallations_CreateServiceRequest" />
  <xs:complexType name="Callout_HomeInstallations_CreateServiceRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q54="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_CreateServiceRequestResult" nillable="true" type="q54:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_CreateServiceRequestResponse" nillable="true" type="tns:Callout_HomeInstallations_CreateServiceRequestResponse" />
  <xs:complexType name="Callout_HomeInstallations_EditSold">
    <xs:sequence>
      <xs:element xmlns:q57="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q57:HomeInstallations_EditSold_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_EditSold" nillable="true" type="tns:Callout_HomeInstallations_EditSold" />
  <xs:complexType name="Callout_HomeInstallations_EditSoldResponse">
    <xs:sequence>
      <xs:element xmlns:q58="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_EditSoldResult" nillable="true" type="q58:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_EditSoldResponse" nillable="true" type="tns:Callout_HomeInstallations_EditSoldResponse" />
  <xs:complexType name="Callout_SalesReview_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q61="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q61:SalesReview_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SalesReview_AddRecord" nillable="true" type="tns:Callout_SalesReview_AddRecord" />
  <xs:complexType name="Callout_SalesReview_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q62="http://flowfinity.com/contract" minOccurs="0" name="Callout_SalesReview_AddRecordResult" nillable="true" type="q62:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SalesReview_AddRecordResponse" nillable="true" type="tns:Callout_SalesReview_AddRecordResponse" />
  <xs:complexType name="Callout_ManufacturerTracking_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q65="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q65:ManufacturerTracking_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ManufacturerTracking_AddRecord" nillable="true" type="tns:Callout_ManufacturerTracking_AddRecord" />
  <xs:complexType name="Callout_ManufacturerTracking_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q66="http://flowfinity.com/contract" minOccurs="0" name="Callout_ManufacturerTracking_AddRecordResult" nillable="true" type="q66:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ManufacturerTracking_AddRecordResponse" nillable="true" type="tns:Callout_ManufacturerTracking_AddRecordResponse" />
  <xs:complexType name="Callout_InventoryManager_GetBOMItems">
    <xs:sequence>
      <xs:element xmlns:q69="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q69:InventoryManager_GetBOMItems_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_GetBOMItems" nillable="true" type="tns:Callout_InventoryManager_GetBOMItems" />
  <xs:complexType name="Callout_InventoryManager_GetBOMItemsResponse">
    <xs:sequence>
      <xs:element xmlns:q70="http://flowfinity.com/contract" minOccurs="0" name="Callout_InventoryManager_GetBOMItemsResult" nillable="true" type="q70:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_GetBOMItemsResponse" nillable="true" type="tns:Callout_InventoryManager_GetBOMItemsResponse" />
  <xs:complexType name="Callout_InventoryManager_DeleteBOM">
    <xs:sequence>
      <xs:element xmlns:q73="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q73:InventoryManager_DeleteBOM_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_DeleteBOM" nillable="true" type="tns:Callout_InventoryManager_DeleteBOM" />
  <xs:complexType name="Callout_InventoryManager_DeleteBOMResponse">
    <xs:sequence>
      <xs:element xmlns:q74="http://flowfinity.com/contract" minOccurs="0" name="Callout_InventoryManager_DeleteBOMResult" nillable="true" type="q74:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_DeleteBOMResponse" nillable="true" type="tns:Callout_InventoryManager_DeleteBOMResponse" />
  <xs:complexType name="Callout_MMS_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q91="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q91:MMS_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_EditRecord" nillable="true" type="tns:Callout_MMS_EditRecord" />
  <xs:complexType name="Callout_MMS_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q92="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_EditRecordResult" nillable="true" type="q92:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_EditRecordResponse" nillable="true" type="tns:Callout_MMS_EditRecordResponse" />
  <xs:complexType name="Callout_SupplyOnly_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q95="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q95:SupplyOnly_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SupplyOnly_AddRecord" nillable="true" type="tns:Callout_SupplyOnly_AddRecord" />
  <xs:complexType name="Callout_SupplyOnly_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q96="http://flowfinity.com/contract" minOccurs="0" name="Callout_SupplyOnly_AddRecordResult" nillable="true" type="q96:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SupplyOnly_AddRecordResponse" nillable="true" type="tns:Callout_SupplyOnly_AddRecordResponse" />
  <xs:complexType name="Callout_testapp_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q107="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q107:testapp_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_testapp_AddRecord" nillable="true" type="tns:Callout_testapp_AddRecord" />
  <xs:complexType name="Callout_testapp_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q108="http://flowfinity.com/contract" minOccurs="0" name="Callout_testapp_AddRecordResult" nillable="true" type="q108:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_testapp_AddRecordResponse" nillable="true" type="tns:Callout_testapp_AddRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_UpdateItemStatus">
    <xs:sequence>
      <xs:element xmlns:q111="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q111:WindowsItemTracker_UpdateItemStatus_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_UpdateItemStatus" nillable="true" type="tns:Callout_WindowsItemTracker_UpdateItemStatus" />
  <xs:complexType name="Callout_WindowsItemTracker_UpdateItemStatusResponse">
    <xs:sequence>
      <xs:element xmlns:q112="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_UpdateItemStatusResult" nillable="true" type="q112:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_UpdateItemStatusResponse" nillable="true" type="tns:Callout_WindowsItemTracker_UpdateItemStatusResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoOnhold">
    <xs:sequence>
      <xs:element xmlns:q115="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q115:WindowsItemTracker_MovetoOnhold_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoOnhold" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoOnhold" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoOnholdResponse">
    <xs:sequence>
      <xs:element xmlns:q116="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_MovetoOnholdResult" nillable="true" type="q116:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoOnholdResponse" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoOnholdResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q119="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q119:WindowsItemTracker_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_AddRecord" nillable="true" type="tns:Callout_WindowsItemTracker_AddRecord" />
  <xs:complexType name="Callout_WindowsItemTracker_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q120="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_AddRecordResult" nillable="true" type="q120:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_AddRecordResponse" nillable="true" type="tns:Callout_WindowsItemTracker_AddRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_Movetoshipped">
    <xs:sequence>
      <xs:element xmlns:q123="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q123:WindowsItemTracker_Movetoshipped_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_Movetoshipped" nillable="true" type="tns:Callout_WindowsItemTracker_Movetoshipped" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoshippedResponse">
    <xs:sequence>
      <xs:element xmlns:q124="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_MovetoshippedResult" nillable="true" type="q124:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoshippedResponse" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoshippedResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q127="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q127:WindowsItemTracker_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_EditRecord" nillable="true" type="tns:Callout_WindowsItemTracker_EditRecord" />
  <xs:complexType name="Callout_WindowsItemTracker_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q128="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_EditRecordResult" nillable="true" type="q128:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_EditRecordResponse" nillable="true" type="tns:Callout_WindowsItemTracker_EditRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_BacktoInprogress">
    <xs:sequence>
      <xs:element xmlns:q131="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q131:WindowsItemTracker_BacktoInprogress_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_BacktoInprogress" nillable="true" type="tns:Callout_WindowsItemTracker_BacktoInprogress" />
  <xs:complexType name="Callout_WindowsItemTracker_BacktoInprogressResponse">
    <xs:sequence>
      <xs:element xmlns:q132="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_BacktoInprogressResult" nillable="true" type="q132:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_BacktoInprogressResponse" nillable="true" type="tns:Callout_WindowsItemTracker_BacktoInprogressResponse" />
  <xs:complexType name="Callout_JobSiteReview_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q135="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q135:JobSiteReview_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_JobSiteReview_AddRecord" nillable="true" type="tns:Callout_JobSiteReview_AddRecord" />
  <xs:complexType name="Callout_JobSiteReview_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q136="http://flowfinity.com/contract" minOccurs="0" name="Callout_JobSiteReview_AddRecordResult" nillable="true" type="q136:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_JobSiteReview_AddRecordResponse" nillable="true" type="tns:Callout_JobSiteReview_AddRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_DeleteRecord">
    <xs:sequence>
      <xs:element xmlns:q139="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q139:InstallationTracking_DeleteRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_DeleteRecord" nillable="true" type="tns:Callout_InstallationTracking_DeleteRecord" />
  <xs:complexType name="Callout_InstallationTracking_DeleteRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q140="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_DeleteRecordResult" nillable="true" type="q140:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_DeleteRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_DeleteRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q143="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q143:InstallationTracking_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_AddRecord" nillable="true" type="tns:Callout_InstallationTracking_AddRecord" />
  <xs:complexType name="Callout_InstallationTracking_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q144="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_AddRecordResult" nillable="true" type="q144:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_AddRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_AddRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q147="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q147:InstallationTracking_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_EditRecord" nillable="true" type="tns:Callout_InstallationTracking_EditRecord" />
  <xs:complexType name="Callout_InstallationTracking_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q148="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_EditRecordResult" nillable="true" type="q148:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_EditRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_EditRecordResponse" />
  <xs:complexType name="Callout_CHIPurchaseOrder_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q151="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q151:CHIPurchaseOrder_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_CHIPurchaseOrder_AddRecord" nillable="true" type="tns:Callout_CHIPurchaseOrder_AddRecord" />
  <xs:complexType name="Callout_CHIPurchaseOrder_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q152="http://flowfinity.com/contract" minOccurs="0" name="Callout_CHIPurchaseOrder_AddRecordResult" nillable="true" type="q152:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_CHIPurchaseOrder_AddRecordResponse" nillable="true" type="tns:Callout_CHIPurchaseOrder_AddRecordResponse" />
  <xs:complexType name="Callout_ServiceReview_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q155="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q155:ServiceReview_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ServiceReview_AddRecord" nillable="true" type="tns:Callout_ServiceReview_AddRecord" />
  <xs:complexType name="Callout_ServiceReview_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q156="http://flowfinity.com/contract" minOccurs="0" name="Callout_ServiceReview_AddRecordResult" nillable="true" type="q156:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ServiceReview_AddRecordResponse" nillable="true" type="tns:Callout_ServiceReview_AddRecordResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_Add">
    <xs:sequence>
      <xs:element xmlns:q29="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q29:StationTarget_Legacy_Add_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_Add" nillable="true" type="tns:Callout_StationTarget_Legacy_Add" />
  <xs:complexType name="Callout_StationTarget_Legacy_AddResponse">
    <xs:sequence>
      <xs:element xmlns:q30="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_AddResult" nillable="true" type="q30:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_AddResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_AddResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_Edit">
    <xs:sequence>
      <xs:element xmlns:q31="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q31:StationTarget_Legacy_Edit_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_Edit" nillable="true" type="tns:Callout_StationTarget_Legacy_Edit" />
  <xs:complexType name="Callout_StationTarget_Legacy_EditResponse">
    <xs:sequence>
      <xs:element xmlns:q32="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_EditResult" nillable="true" type="q32:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_EditResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_EditResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_Transition">
    <xs:sequence>
      <xs:element xmlns:q33="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q33:StationTarget_Legacy_Transition_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_Transition" nillable="true" type="tns:Callout_StationTarget_Legacy_Transition" />
  <xs:complexType name="Callout_StationTarget_Legacy_TransitionResponse">
    <xs:sequence>
      <xs:element xmlns:q34="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TransitionResult" nillable="true" type="q34:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TransitionResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TransitionResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_Delete">
    <xs:sequence>
      <xs:element xmlns:q35="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q35:StationTarget_Legacy_Delete_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_Delete" nillable="true" type="tns:Callout_StationTarget_Legacy_Delete" />
  <xs:complexType name="Callout_StationTarget_Legacy_DeleteResponse">
    <xs:sequence>
      <xs:element xmlns:q36="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_DeleteResult" nillable="true" type="q36:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DeleteResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_DeleteResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_Duplicate">
    <xs:sequence>
      <xs:element xmlns:q37="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q37:StationTarget_Legacy_Duplicate_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_Duplicate" nillable="true" type="tns:Callout_StationTarget_Legacy_Duplicate" />
  <xs:complexType name="Callout_StationTarget_Legacy_DuplicateResponse">
    <xs:sequence>
      <xs:element xmlns:q38="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_DuplicateResult" nillable="true" type="q38:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DuplicateResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_DuplicateResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_TriggerAdd">
    <xs:sequence>
      <xs:element xmlns:q39="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q39:StationTarget_Legacy_TriggerAdd_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TriggerAdd" nillable="true" type="tns:Callout_StationTarget_Legacy_TriggerAdd" />
  <xs:complexType name="Callout_StationTarget_Legacy_TriggerAddResponse">
    <xs:sequence>
      <xs:element xmlns:q40="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TriggerAddResult" nillable="true" type="q40:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TriggerAddResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TriggerAddResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_TriggerEdit">
    <xs:sequence>
      <xs:element xmlns:q41="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q41:StationTarget_Legacy_TriggerEdit_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TriggerEdit" nillable="true" type="tns:Callout_StationTarget_Legacy_TriggerEdit" />
  <xs:complexType name="Callout_StationTarget_Legacy_TriggerEditResponse">
    <xs:sequence>
      <xs:element xmlns:q42="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TriggerEditResult" nillable="true" type="q42:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TriggerEditResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TriggerEditResponse" />
  <xs:complexType name="Callout_MMS_Legacy_Add">
    <xs:sequence>
      <xs:element xmlns:q75="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q75:MMS_Legacy_Add_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_Add" nillable="true" type="tns:Callout_MMS_Legacy_Add" />
  <xs:complexType name="Callout_MMS_Legacy_AddResponse">
    <xs:sequence>
      <xs:element xmlns:q76="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_AddResult" nillable="true" type="q76:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_AddResponse" nillable="true" type="tns:Callout_MMS_Legacy_AddResponse" />
  <xs:complexType name="Callout_MMS_Legacy_Edit">
    <xs:sequence>
      <xs:element xmlns:q77="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q77:MMS_Legacy_Edit_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_Edit" nillable="true" type="tns:Callout_MMS_Legacy_Edit" />
  <xs:complexType name="Callout_MMS_Legacy_EditResponse">
    <xs:sequence>
      <xs:element xmlns:q78="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_EditResult" nillable="true" type="q78:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_EditResponse" nillable="true" type="tns:Callout_MMS_Legacy_EditResponse" />
  <xs:complexType name="Callout_MMS_Legacy_Transition">
    <xs:sequence>
      <xs:element xmlns:q79="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q79:MMS_Legacy_Transition_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_Transition" nillable="true" type="tns:Callout_MMS_Legacy_Transition" />
  <xs:complexType name="Callout_MMS_Legacy_TransitionResponse">
    <xs:sequence>
      <xs:element xmlns:q80="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_TransitionResult" nillable="true" type="q80:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_TransitionResponse" nillable="true" type="tns:Callout_MMS_Legacy_TransitionResponse" />
  <xs:complexType name="Callout_MMS_Legacy_Delete">
    <xs:sequence>
      <xs:element xmlns:q81="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q81:MMS_Legacy_Delete_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_Delete" nillable="true" type="tns:Callout_MMS_Legacy_Delete" />
  <xs:complexType name="Callout_MMS_Legacy_DeleteResponse">
    <xs:sequence>
      <xs:element xmlns:q82="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_DeleteResult" nillable="true" type="q82:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_DeleteResponse" nillable="true" type="tns:Callout_MMS_Legacy_DeleteResponse" />
  <xs:complexType name="Callout_MMS_Legacy_Duplicate">
    <xs:sequence>
      <xs:element xmlns:q83="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q83:MMS_Legacy_Duplicate_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_Duplicate" nillable="true" type="tns:Callout_MMS_Legacy_Duplicate" />
  <xs:complexType name="Callout_MMS_Legacy_DuplicateResponse">
    <xs:sequence>
      <xs:element xmlns:q84="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_DuplicateResult" nillable="true" type="q84:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_DuplicateResponse" nillable="true" type="tns:Callout_MMS_Legacy_DuplicateResponse" />
  <xs:complexType name="Callout_MMS_Legacy_TriggerAdd">
    <xs:sequence>
      <xs:element xmlns:q85="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q85:MMS_Legacy_TriggerAdd_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_TriggerAdd" nillable="true" type="tns:Callout_MMS_Legacy_TriggerAdd" />
  <xs:complexType name="Callout_MMS_Legacy_TriggerAddResponse">
    <xs:sequence>
      <xs:element xmlns:q86="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_TriggerAddResult" nillable="true" type="q86:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_TriggerAddResponse" nillable="true" type="tns:Callout_MMS_Legacy_TriggerAddResponse" />
  <xs:complexType name="Callout_MMS_Legacy_TriggerEdit">
    <xs:sequence>
      <xs:element xmlns:q87="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q87:MMS_Legacy_TriggerEdit_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_TriggerEdit" nillable="true" type="tns:Callout_MMS_Legacy_TriggerEdit" />
  <xs:complexType name="Callout_MMS_Legacy_TriggerEditResponse">
    <xs:sequence>
      <xs:element xmlns:q88="http://flowfinity.com/contract" minOccurs="0" name="Callout_MMS_Legacy_TriggerEditResult" nillable="true" type="q88:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_MMS_Legacy_TriggerEditResponse" nillable="true" type="tns:Callout_MMS_Legacy_TriggerEditResponse" />
</xs:schema>