FlowfinityConnectionHelper/Service References/FASR/Public6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://flowfinity.com/ServiceContract" elementFormDefault="qualified" targetNamespace="http://flowfinity.com/ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="/fa/integration/Public?xsd=xsd2" namespace="http://flowfinity.com/contract" />
  <xs:complexType name="Execute">
    <xs:sequence>
      <xs:element xmlns:q95="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q95:ExecuteRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Execute" nillable="true" type="tns:Execute" />
  <xs:complexType name="ExecuteResponse">
    <xs:sequence>
      <xs:element xmlns:q96="http://flowfinity.com/contract" minOccurs="0" name="ExecuteResult" nillable="true" type="q96:ExecuteResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResponse" nillable="true" type="tns:ExecuteResponse" />
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element xmlns:q97="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q97:QueryRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="QueryResponse">
    <xs:sequence>
      <xs:element xmlns:q98="http://flowfinity.com/contract" minOccurs="0" name="QueryResult" nillable="true" type="q98:QueryResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryResponse" nillable="true" type="tns:QueryResponse" />
  <xs:complexType name="GetTransaction">
    <xs:sequence>
      <xs:element xmlns:q99="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q99:TransactionRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransaction" nillable="true" type="tns:GetTransaction" />
  <xs:complexType name="GetTransactionResponse">
    <xs:sequence>
      <xs:element xmlns:q100="http://flowfinity.com/contract" minOccurs="0" name="GetTransactionResult" nillable="true" type="q100:TransactionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactionResponse" nillable="true" type="tns:GetTransactionResponse" />
  <xs:complexType name="GetTransactions">
    <xs:sequence>
      <xs:element xmlns:q101="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q101:TransactionsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactions" nillable="true" type="tns:GetTransactions" />
  <xs:complexType name="GetTransactionsResponse">
    <xs:sequence>
      <xs:element xmlns:q102="http://flowfinity.com/contract" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q102:TransactionsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransactionsResponse" nillable="true" type="tns:GetTransactionsResponse" />
  <xs:complexType name="Callout_BackOrder_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q3="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q3:BackOrder_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_BackOrder_AddRecord" nillable="true" type="tns:Callout_BackOrder_AddRecord" />
  <xs:complexType name="Callout_BackOrder_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://flowfinity.com/contract" minOccurs="0" name="Callout_BackOrder_AddRecordResult" nillable="true" type="q4:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_BackOrder_AddRecordResponse" nillable="true" type="tns:Callout_BackOrder_AddRecordResponse" />
  <xs:complexType name="Callout_Estimation_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q7="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q7:Estimation_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Estimation_AddRecord" nillable="true" type="tns:Callout_Estimation_AddRecord" />
  <xs:complexType name="Callout_Estimation_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q8="http://flowfinity.com/contract" minOccurs="0" name="Callout_Estimation_AddRecordResult" nillable="true" type="q8:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Estimation_AddRecordResponse" nillable="true" type="tns:Callout_Estimation_AddRecordResponse" />
  <xs:complexType name="Callout_Timesheet_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q11="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q11:Timesheet_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_AddRecord" nillable="true" type="tns:Callout_Timesheet_AddRecord" />
  <xs:complexType name="Callout_Timesheet_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q12="http://flowfinity.com/contract" minOccurs="0" name="Callout_Timesheet_AddRecordResult" nillable="true" type="q12:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_AddRecordResponse" nillable="true" type="tns:Callout_Timesheet_AddRecordResponse" />
  <xs:complexType name="Callout_Timesheet_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q15="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q15:Timesheet_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_EditRecord" nillable="true" type="tns:Callout_Timesheet_EditRecord" />
  <xs:complexType name="Callout_Timesheet_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q16="http://flowfinity.com/contract" minOccurs="0" name="Callout_Timesheet_EditRecordResult" nillable="true" type="q16:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Timesheet_EditRecordResponse" nillable="true" type="tns:Callout_Timesheet_EditRecordResponse" />
  <xs:complexType name="Callout_PlantProduction_GetWindowmaker">
    <xs:sequence>
      <xs:element xmlns:q19="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q19:PlantProduction_GetWindowmaker_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_GetWindowmaker" nillable="true" type="tns:Callout_PlantProduction_GetWindowmaker" />
  <xs:complexType name="Callout_PlantProduction_GetWindowmakerResponse">
    <xs:sequence>
      <xs:element xmlns:q20="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_GetWindowmakerResult" nillable="true" type="q20:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_GetWindowmakerResponse" nillable="true" type="tns:Callout_PlantProduction_GetWindowmakerResponse" />
  <xs:complexType name="Callout_PlantProduction_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q23="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q23:PlantProduction_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_AddRecord" nillable="true" type="tns:Callout_PlantProduction_AddRecord" />
  <xs:complexType name="Callout_PlantProduction_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q24="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_AddRecordResult" nillable="true" type="q24:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_AddRecordResponse" nillable="true" type="tns:Callout_PlantProduction_AddRecordResponse" />
  <xs:complexType name="Callout_PlantProduction_delete_1">
    <xs:sequence>
      <xs:element xmlns:q27="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q27:PlantProduction_delete_1_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_delete_1" nillable="true" type="tns:Callout_PlantProduction_delete_1" />
  <xs:complexType name="Callout_PlantProduction_delete_1Response">
    <xs:sequence>
      <xs:element xmlns:q28="http://flowfinity.com/contract" minOccurs="0" name="Callout_PlantProduction_delete_1Result" nillable="true" type="q28:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_PlantProduction_delete_1Response" nillable="true" type="tns:Callout_PlantProduction_delete_1Response" />
  <xs:complexType name="Callout_Service_EditService">
    <xs:sequence>
      <xs:element xmlns:q45="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q45:Service_EditService_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Service_EditService" nillable="true" type="tns:Callout_Service_EditService" />
  <xs:complexType name="Callout_Service_EditServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q46="http://flowfinity.com/contract" minOccurs="0" name="Callout_Service_EditServiceResult" nillable="true" type="q46:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_Service_EditServiceResponse" nillable="true" type="tns:Callout_Service_EditServiceResponse" />
  <xs:complexType name="Callout_HomeInstallations_GetWindowmaker">
    <xs:sequence>
      <xs:element xmlns:q49="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q49:HomeInstallations_GetWindowmaker_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_GetWindowmaker" nillable="true" type="tns:Callout_HomeInstallations_GetWindowmaker" />
  <xs:complexType name="Callout_HomeInstallations_GetWindowmakerResponse">
    <xs:sequence>
      <xs:element xmlns:q50="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_GetWindowmakerResult" nillable="true" type="q50:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_GetWindowmakerResponse" nillable="true" type="tns:Callout_HomeInstallations_GetWindowmakerResponse" />
  <xs:complexType name="Callout_HomeInstallations_AdminCosting">
    <xs:sequence>
      <xs:element xmlns:q53="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q53:HomeInstallations_AdminCosting_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AdminCosting" nillable="true" type="tns:Callout_HomeInstallations_AdminCosting" />
  <xs:complexType name="Callout_HomeInstallations_AdminCostingResponse">
    <xs:sequence>
      <xs:element xmlns:q54="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_AdminCostingResult" nillable="true" type="q54:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AdminCostingResponse" nillable="true" type="tns:Callout_HomeInstallations_AdminCostingResponse" />
  <xs:complexType name="Callout_HomeInstallations_EditSold">
    <xs:sequence>
      <xs:element xmlns:q57="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q57:HomeInstallations_EditSold_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_EditSold" nillable="true" type="tns:Callout_HomeInstallations_EditSold" />
  <xs:complexType name="Callout_HomeInstallations_EditSoldResponse">
    <xs:sequence>
      <xs:element xmlns:q58="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_EditSoldResult" nillable="true" type="q58:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_EditSoldResponse" nillable="true" type="tns:Callout_HomeInstallations_EditSoldResponse" />
  <xs:complexType name="Callout_HomeInstallations_ScheduleNewWorkOrder">
    <xs:sequence>
      <xs:element xmlns:q61="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q61:HomeInstallations_ScheduleNewWorkOrder_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_ScheduleNewWorkOrder" nillable="true" type="tns:Callout_HomeInstallations_ScheduleNewWorkOrder" />
  <xs:complexType name="Callout_HomeInstallations_ScheduleNewWorkOrderResponse">
    <xs:sequence>
      <xs:element xmlns:q62="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_ScheduleNewWorkOrderResult" nillable="true" type="q62:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_ScheduleNewWorkOrderResponse" nillable="true" type="tns:Callout_HomeInstallations_ScheduleNewWorkOrderResponse" />
  <xs:complexType name="Callout_HomeInstallations_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q65="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q65:HomeInstallations_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AddRecord" nillable="true" type="tns:Callout_HomeInstallations_AddRecord" />
  <xs:complexType name="Callout_HomeInstallations_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q66="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_AddRecordResult" nillable="true" type="q66:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_AddRecordResponse" nillable="true" type="tns:Callout_HomeInstallations_AddRecordResponse" />
  <xs:complexType name="Callout_HomeInstallations_CreateServiceRequest">
    <xs:sequence>
      <xs:element xmlns:q69="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q69:HomeInstallations_CreateServiceRequest_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_CreateServiceRequest" nillable="true" type="tns:Callout_HomeInstallations_CreateServiceRequest" />
  <xs:complexType name="Callout_HomeInstallations_CreateServiceRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q70="http://flowfinity.com/contract" minOccurs="0" name="Callout_HomeInstallations_CreateServiceRequestResult" nillable="true" type="q70:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_HomeInstallations_CreateServiceRequestResponse" nillable="true" type="tns:Callout_HomeInstallations_CreateServiceRequestResponse" />
  <xs:complexType name="Callout_ManufacturerTracking_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q73="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q73:ManufacturerTracking_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ManufacturerTracking_AddRecord" nillable="true" type="tns:Callout_ManufacturerTracking_AddRecord" />
  <xs:complexType name="Callout_ManufacturerTracking_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q74="http://flowfinity.com/contract" minOccurs="0" name="Callout_ManufacturerTracking_AddRecordResult" nillable="true" type="q74:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ManufacturerTracking_AddRecordResponse" nillable="true" type="tns:Callout_ManufacturerTracking_AddRecordResponse" />
  <xs:complexType name="Callout_TruckDictionary_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q77="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q77:TruckDictionary_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_TruckDictionary_AddRecord" nillable="true" type="tns:Callout_TruckDictionary_AddRecord" />
  <xs:complexType name="Callout_TruckDictionary_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q78="http://flowfinity.com/contract" minOccurs="0" name="Callout_TruckDictionary_AddRecordResult" nillable="true" type="q78:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_TruckDictionary_AddRecordResponse" nillable="true" type="tns:Callout_TruckDictionary_AddRecordResponse" />
  <xs:complexType name="Callout_TruckDictionary_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q81="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q81:TruckDictionary_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_TruckDictionary_EditRecord" nillable="true" type="tns:Callout_TruckDictionary_EditRecord" />
  <xs:complexType name="Callout_TruckDictionary_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q82="http://flowfinity.com/contract" minOccurs="0" name="Callout_TruckDictionary_EditRecordResult" nillable="true" type="q82:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_TruckDictionary_EditRecordResponse" nillable="true" type="tns:Callout_TruckDictionary_EditRecordResponse" />
  <xs:complexType name="Callout_InventoryManager_GetBOMItems">
    <xs:sequence>
      <xs:element xmlns:q85="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q85:InventoryManager_GetBOMItems_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_GetBOMItems" nillable="true" type="tns:Callout_InventoryManager_GetBOMItems" />
  <xs:complexType name="Callout_InventoryManager_GetBOMItemsResponse">
    <xs:sequence>
      <xs:element xmlns:q86="http://flowfinity.com/contract" minOccurs="0" name="Callout_InventoryManager_GetBOMItemsResult" nillable="true" type="q86:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_GetBOMItemsResponse" nillable="true" type="tns:Callout_InventoryManager_GetBOMItemsResponse" />
  <xs:complexType name="Callout_InventoryManager_DeleteBOM">
    <xs:sequence>
      <xs:element xmlns:q89="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q89:InventoryManager_DeleteBOM_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_DeleteBOM" nillable="true" type="tns:Callout_InventoryManager_DeleteBOM" />
  <xs:complexType name="Callout_InventoryManager_DeleteBOMResponse">
    <xs:sequence>
      <xs:element xmlns:q90="http://flowfinity.com/contract" minOccurs="0" name="Callout_InventoryManager_DeleteBOMResult" nillable="true" type="q90:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InventoryManager_DeleteBOMResponse" nillable="true" type="tns:Callout_InventoryManager_DeleteBOMResponse" />
  <xs:complexType name="Callout_SupplyOnly_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q93="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q93:SupplyOnly_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SupplyOnly_AddRecord" nillable="true" type="tns:Callout_SupplyOnly_AddRecord" />
  <xs:complexType name="Callout_SupplyOnly_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q94="http://flowfinity.com/contract" minOccurs="0" name="Callout_SupplyOnly_AddRecordResult" nillable="true" type="q94:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_SupplyOnly_AddRecordResponse" nillable="true" type="tns:Callout_SupplyOnly_AddRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_UpdateItemStatus">
    <xs:sequence>
      <xs:element xmlns:q105="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q105:WindowsItemTracker_UpdateItemStatus_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_UpdateItemStatus" nillable="true" type="tns:Callout_WindowsItemTracker_UpdateItemStatus" />
  <xs:complexType name="Callout_WindowsItemTracker_UpdateItemStatusResponse">
    <xs:sequence>
      <xs:element xmlns:q106="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_UpdateItemStatusResult" nillable="true" type="q106:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_UpdateItemStatusResponse" nillable="true" type="tns:Callout_WindowsItemTracker_UpdateItemStatusResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoOnhold">
    <xs:sequence>
      <xs:element xmlns:q109="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q109:WindowsItemTracker_MovetoOnhold_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoOnhold" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoOnhold" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoOnholdResponse">
    <xs:sequence>
      <xs:element xmlns:q110="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_MovetoOnholdResult" nillable="true" type="q110:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoOnholdResponse" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoOnholdResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q113="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q113:WindowsItemTracker_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_AddRecord" nillable="true" type="tns:Callout_WindowsItemTracker_AddRecord" />
  <xs:complexType name="Callout_WindowsItemTracker_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q114="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_AddRecordResult" nillable="true" type="q114:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_AddRecordResponse" nillable="true" type="tns:Callout_WindowsItemTracker_AddRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_Movetoshipped">
    <xs:sequence>
      <xs:element xmlns:q117="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q117:WindowsItemTracker_Movetoshipped_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_Movetoshipped" nillable="true" type="tns:Callout_WindowsItemTracker_Movetoshipped" />
  <xs:complexType name="Callout_WindowsItemTracker_MovetoshippedResponse">
    <xs:sequence>
      <xs:element xmlns:q118="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_MovetoshippedResult" nillable="true" type="q118:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_MovetoshippedResponse" nillable="true" type="tns:Callout_WindowsItemTracker_MovetoshippedResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q121="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q121:WindowsItemTracker_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_EditRecord" nillable="true" type="tns:Callout_WindowsItemTracker_EditRecord" />
  <xs:complexType name="Callout_WindowsItemTracker_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q122="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_EditRecordResult" nillable="true" type="q122:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_EditRecordResponse" nillable="true" type="tns:Callout_WindowsItemTracker_EditRecordResponse" />
  <xs:complexType name="Callout_WindowsItemTracker_BacktoInprogress">
    <xs:sequence>
      <xs:element xmlns:q125="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q125:WindowsItemTracker_BacktoInprogress_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_BacktoInprogress" nillable="true" type="tns:Callout_WindowsItemTracker_BacktoInprogress" />
  <xs:complexType name="Callout_WindowsItemTracker_BacktoInprogressResponse">
    <xs:sequence>
      <xs:element xmlns:q126="http://flowfinity.com/contract" minOccurs="0" name="Callout_WindowsItemTracker_BacktoInprogressResult" nillable="true" type="q126:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_WindowsItemTracker_BacktoInprogressResponse" nillable="true" type="tns:Callout_WindowsItemTracker_BacktoInprogressResponse" />
  <xs:complexType name="Callout_JobSiteReview_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q129="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q129:JobSiteReview_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_JobSiteReview_AddRecord" nillable="true" type="tns:Callout_JobSiteReview_AddRecord" />
  <xs:complexType name="Callout_JobSiteReview_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q130="http://flowfinity.com/contract" minOccurs="0" name="Callout_JobSiteReview_AddRecordResult" nillable="true" type="q130:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_JobSiteReview_AddRecordResponse" nillable="true" type="tns:Callout_JobSiteReview_AddRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_DeleteRecord">
    <xs:sequence>
      <xs:element xmlns:q133="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q133:InstallationTracking_DeleteRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_DeleteRecord" nillable="true" type="tns:Callout_InstallationTracking_DeleteRecord" />
  <xs:complexType name="Callout_InstallationTracking_DeleteRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q134="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_DeleteRecordResult" nillable="true" type="q134:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_DeleteRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_DeleteRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q137="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q137:InstallationTracking_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_AddRecord" nillable="true" type="tns:Callout_InstallationTracking_AddRecord" />
  <xs:complexType name="Callout_InstallationTracking_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q138="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_AddRecordResult" nillable="true" type="q138:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_AddRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_AddRecordResponse" />
  <xs:complexType name="Callout_InstallationTracking_EditRecord">
    <xs:sequence>
      <xs:element xmlns:q141="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q141:InstallationTracking_EditRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_EditRecord" nillable="true" type="tns:Callout_InstallationTracking_EditRecord" />
  <xs:complexType name="Callout_InstallationTracking_EditRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q142="http://flowfinity.com/contract" minOccurs="0" name="Callout_InstallationTracking_EditRecordResult" nillable="true" type="q142:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_InstallationTracking_EditRecordResponse" nillable="true" type="tns:Callout_InstallationTracking_EditRecordResponse" />
  <xs:complexType name="Callout_CHIPurchaseOrder_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q145="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q145:CHIPurchaseOrder_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_CHIPurchaseOrder_AddRecord" nillable="true" type="tns:Callout_CHIPurchaseOrder_AddRecord" />
  <xs:complexType name="Callout_CHIPurchaseOrder_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q146="http://flowfinity.com/contract" minOccurs="0" name="Callout_CHIPurchaseOrder_AddRecordResult" nillable="true" type="q146:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_CHIPurchaseOrder_AddRecordResponse" nillable="true" type="tns:Callout_CHIPurchaseOrder_AddRecordResponse" />
  <xs:complexType name="Callout_ServiceReview_AddRecord">
    <xs:sequence>
      <xs:element xmlns:q149="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q149:ServiceReview_AddRecord_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ServiceReview_AddRecord" nillable="true" type="tns:Callout_ServiceReview_AddRecord" />
  <xs:complexType name="Callout_ServiceReview_AddRecordResponse">
    <xs:sequence>
      <xs:element xmlns:q150="http://flowfinity.com/contract" minOccurs="0" name="Callout_ServiceReview_AddRecordResult" nillable="true" type="q150:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_ServiceReview_AddRecordResponse" nillable="true" type="tns:Callout_ServiceReview_AddRecordResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_ADD">
    <xs:sequence>
      <xs:element xmlns:q29="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q29:StationTarget_Legacy_ADD_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_ADD" nillable="true" type="tns:Callout_StationTarget_Legacy_ADD" />
  <xs:complexType name="Callout_StationTarget_Legacy_ADDResponse">
    <xs:sequence>
      <xs:element xmlns:q30="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_ADDResult" nillable="true" type="q30:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_ADDResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_ADDResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_EDIT">
    <xs:sequence>
      <xs:element xmlns:q31="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q31:StationTarget_Legacy_EDIT_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_EDIT" nillable="true" type="tns:Callout_StationTarget_Legacy_EDIT" />
  <xs:complexType name="Callout_StationTarget_Legacy_EDITResponse">
    <xs:sequence>
      <xs:element xmlns:q32="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_EDITResult" nillable="true" type="q32:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_EDITResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_EDITResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRANSITION">
    <xs:sequence>
      <xs:element xmlns:q33="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q33:StationTarget_Legacy_TRANSITION_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRANSITION" nillable="true" type="tns:Callout_StationTarget_Legacy_TRANSITION" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRANSITIONResponse">
    <xs:sequence>
      <xs:element xmlns:q34="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TRANSITIONResult" nillable="true" type="q34:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRANSITIONResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TRANSITIONResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_DELETE">
    <xs:sequence>
      <xs:element xmlns:q35="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q35:StationTarget_Legacy_DELETE_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DELETE" nillable="true" type="tns:Callout_StationTarget_Legacy_DELETE" />
  <xs:complexType name="Callout_StationTarget_Legacy_DELETEResponse">
    <xs:sequence>
      <xs:element xmlns:q36="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_DELETEResult" nillable="true" type="q36:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DELETEResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_DELETEResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_DUPLICATE">
    <xs:sequence>
      <xs:element xmlns:q37="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q37:StationTarget_Legacy_DUPLICATE_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DUPLICATE" nillable="true" type="tns:Callout_StationTarget_Legacy_DUPLICATE" />
  <xs:complexType name="Callout_StationTarget_Legacy_DUPLICATEResponse">
    <xs:sequence>
      <xs:element xmlns:q38="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_DUPLICATEResult" nillable="true" type="q38:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_DUPLICATEResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_DUPLICATEResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRIGGERADD">
    <xs:sequence>
      <xs:element xmlns:q39="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q39:StationTarget_Legacy_TRIGGERADD_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRIGGERADD" nillable="true" type="tns:Callout_StationTarget_Legacy_TRIGGERADD" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRIGGERADDResponse">
    <xs:sequence>
      <xs:element xmlns:q40="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TRIGGERADDResult" nillable="true" type="q40:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRIGGERADDResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TRIGGERADDResponse" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRIGGEREDIT">
    <xs:sequence>
      <xs:element xmlns:q41="http://flowfinity.com/contract" minOccurs="0" name="Request" nillable="true" type="q41:StationTarget_Legacy_TRIGGEREDIT_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRIGGEREDIT" nillable="true" type="tns:Callout_StationTarget_Legacy_TRIGGEREDIT" />
  <xs:complexType name="Callout_StationTarget_Legacy_TRIGGEREDITResponse">
    <xs:sequence>
      <xs:element xmlns:q42="http://flowfinity.com/contract" minOccurs="0" name="Callout_StationTarget_Legacy_TRIGGEREDITResult" nillable="true" type="q42:CalloutResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Callout_StationTarget_Legacy_TRIGGEREDITResponse" nillable="true" type="tns:Callout_StationTarget_Legacy_TRIGGEREDITResponse" />
</xs:schema>