FlowfinityConnectionHelper/Service References/FASR/Public1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://flowfinity.com/ServiceContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsap10="http://www.w3.org/2005/08/addressing" targetNamespace="http://flowfinity.com/ServiceContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://flowfinity.com/ServiceContract/Imports">
      <xsd:import schemaLocation="/fa/integration/Public?xsd=xsd0" namespace="http://flowfinity.com/ServiceContract" />
      <xsd:import schemaLocation="/fa/integration/Public?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="/fa/integration/Public?xsd=xsd2" namespace="http://flowfinity.com/contract" />
      <xsd:import schemaLocation="/fa/integration/Public?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Flowfinity" />
      <xsd:import schemaLocation="/fa/integration/Public?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegration_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IIntegration_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IIntegration_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackOrderCalloutService_Callout_BackOrder_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_BackOrder_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IBackOrderCalloutService_Callout_BackOrder_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_BackOrder_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEstimationCalloutService_Callout_Estimation_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Estimation_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IEstimationCalloutService_Callout_Estimation_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Estimation_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ITimesheetCalloutService_Callout_Timesheet_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Timesheet_AddRecord" />
  </wsdl:message>
  <wsdl:message name="ITimesheetCalloutService_Callout_Timesheet_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Timesheet_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ITimesheetCalloutService_Callout_Timesheet_EditRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Timesheet_EditRecord" />
  </wsdl:message>
  <wsdl:message name="ITimesheetCalloutService_Callout_Timesheet_EditRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Timesheet_EditRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_GetWindowmaker_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_GetWindowmaker" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_GetWindowmaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_GetWindowmakerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_delete_1_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_delete_1" />
  </wsdl:message>
  <wsdl:message name="IPlantProductionCalloutService_Callout_PlantProduction_delete_1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_PlantProduction_delete_1Response" />
  </wsdl:message>
  <wsdl:message name="IServiceCalloutService_Callout_Service_EditService_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Service_EditService" />
  </wsdl:message>
  <wsdl:message name="IServiceCalloutService_Callout_Service_EditService_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_Service_EditServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_GetWindowmaker_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_GetWindowmaker" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_GetWindowmaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_GetWindowmakerResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_AdminCosting_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_AdminCosting" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_AdminCosting_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_AdminCostingResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_EditSold_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_EditSold" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_EditSold_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_EditSoldResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_ScheduleNewWorkOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_ScheduleNewWorkOrder" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_ScheduleNewWorkOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_ScheduleNewWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_CreateServiceRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_CreateServiceRequest" />
  </wsdl:message>
  <wsdl:message name="IHomeInstallationsCalloutService_Callout_HomeInstallations_CreateServiceRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_HomeInstallations_CreateServiceRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturerTrackingCalloutService_Callout_ManufacturerTracking_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_ManufacturerTracking_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IManufacturerTrackingCalloutService_Callout_ManufacturerTracking_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_ManufacturerTracking_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryManagerCalloutService_Callout_InventoryManager_GetBOMItems_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InventoryManager_GetBOMItems" />
  </wsdl:message>
  <wsdl:message name="IInventoryManagerCalloutService_Callout_InventoryManager_GetBOMItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InventoryManager_GetBOMItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryManagerCalloutService_Callout_InventoryManager_DeleteBOM_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InventoryManager_DeleteBOM" />
  </wsdl:message>
  <wsdl:message name="IInventoryManagerCalloutService_Callout_InventoryManager_DeleteBOM_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InventoryManager_DeleteBOMResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplyOnlyCalloutService_Callout_SupplyOnly_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_SupplyOnly_AddRecord" />
  </wsdl:message>
  <wsdl:message name="ISupplyOnlyCalloutService_Callout_SupplyOnly_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_SupplyOnly_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_UpdateItemStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_UpdateItemStatus" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_UpdateItemStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_UpdateItemStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_MovetoOnhold_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_MovetoOnhold" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_MovetoOnhold_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_MovetoOnholdResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_Movetoshipped_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_Movetoshipped" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_Movetoshipped_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_MovetoshippedResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_EditRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_EditRecord" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_EditRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_EditRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_BacktoInprogress_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_BacktoInprogress" />
  </wsdl:message>
  <wsdl:message name="IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_BacktoInprogress_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_WindowsItemTracker_BacktoInprogressResponse" />
  </wsdl:message>
  <wsdl:message name="IJobSiteReviewCalloutService_Callout_JobSiteReview_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_JobSiteReview_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IJobSiteReviewCalloutService_Callout_JobSiteReview_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_JobSiteReview_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_DeleteRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_DeleteRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_EditRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_EditRecord" />
  </wsdl:message>
  <wsdl:message name="IInstallationTrackingCalloutService_Callout_InstallationTracking_EditRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_InstallationTracking_EditRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReviewCalloutService_Callout_ServiceReview_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_ServiceReview_AddRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceReviewCalloutService_Callout_ServiceReview_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_ServiceReview_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICHIPurchaseOrderCalloutService_Callout_CHIPurchaseOrder_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_CHIPurchaseOrder_AddRecord" />
  </wsdl:message>
  <wsdl:message name="ICHIPurchaseOrderCalloutService_Callout_CHIPurchaseOrder_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_CHIPurchaseOrder_AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_ADD_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_ADD" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_ADD_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_ADDResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_EDIT_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_EDIT" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_EDIT_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_EDITResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRANSITION_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRANSITION" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRANSITION_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRANSITIONResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_DELETE_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_DELETE" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_DELETE_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_DUPLICATE_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_DUPLICATE" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_DUPLICATE_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_DUPLICATEResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGERADD_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRIGGERADD" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGERADD_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRIGGERADDResponse" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGEREDIT_InputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRIGGEREDIT" />
  </wsdl:message>
  <wsdl:message name="IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGEREDIT_OutputMessage">
    <wsdl:part name="parameters" element="tns:Callout_StationTarget_Legacy_TRIGGEREDITResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IIntegration">
    <wsdl:operation name="Execute">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/Execute" message="tns:IIntegration_Execute_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/ExecuteResponse" message="tns:IIntegration_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/Query" message="tns:IIntegration_Query_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/QueryResponse" message="tns:IIntegration_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/GetTransaction" message="tns:IIntegration_GetTransaction_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/GetTransactionResponse" message="tns:IIntegration_GetTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/GetTransactions" message="tns:IIntegration_GetTransactions_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IIntegration/GetTransactionsResponse" message="tns:IIntegration_GetTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IBackOrderCalloutService">
    <wsdl:operation name="Callout_BackOrder_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IBackOrderCalloutService/Callout_BackOrder_AddRecord" message="tns:IBackOrderCalloutService_Callout_BackOrder_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IBackOrderCalloutService/Callout_BackOrder_AddRecordResponse" message="tns:IBackOrderCalloutService_Callout_BackOrder_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IEstimationCalloutService">
    <wsdl:operation name="Callout_Estimation_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IEstimationCalloutService/Callout_Estimation_AddRecord" message="tns:IEstimationCalloutService_Callout_Estimation_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IEstimationCalloutService/Callout_Estimation_AddRecordResponse" message="tns:IEstimationCalloutService_Callout_Estimation_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="ITimesheetCalloutService">
    <wsdl:operation name="Callout_Timesheet_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/ITimesheetCalloutService/Callout_Timesheet_AddRecord" message="tns:ITimesheetCalloutService_Callout_Timesheet_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/ITimesheetCalloutService/Callout_Timesheet_AddRecordResponse" message="tns:ITimesheetCalloutService_Callout_Timesheet_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_Timesheet_EditRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/ITimesheetCalloutService/Callout_Timesheet_EditRecord" message="tns:ITimesheetCalloutService_Callout_Timesheet_EditRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/ITimesheetCalloutService/Callout_Timesheet_EditRecordResponse" message="tns:ITimesheetCalloutService_Callout_Timesheet_EditRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IPlantProductionCalloutService">
    <wsdl:operation name="Callout_PlantProduction_GetWindowmaker">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_GetWindowmaker" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_GetWindowmaker_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_GetWindowmakerResponse" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_GetWindowmaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_PlantProduction_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_AddRecord" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_AddRecordResponse" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_PlantProduction_delete_1">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_delete_1" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_delete_1_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IPlantProductionCalloutService/Callout_PlantProduction_delete_1Response" message="tns:IPlantProductionCalloutService_Callout_PlantProduction_delete_1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IStationTargetCalloutService">
    <wsdl:operation name="Callout_StationTarget_Legacy_ADD">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_ADD" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_ADD_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_ADDResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_ADD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_EDIT">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_EDIT" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_EDIT_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_EDITResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_EDIT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_TRANSITION">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRANSITION" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRANSITION_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRANSITIONResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRANSITION_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_DELETE">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_DELETE" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_DELETE_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_DELETEResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_DELETE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_DUPLICATE">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_DUPLICATE" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_DUPLICATE_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_DUPLICATEResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_DUPLICATE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_TRIGGERADD">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRIGGERADD" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGERADD_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRIGGERADDResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGERADD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_StationTarget_Legacy_TRIGGEREDIT">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRIGGEREDIT" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGEREDIT_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IStationTargetCalloutService/Callout_StationTarget_Legacy_TRIGGEREDITResponse" message="tns:IStationTargetCalloutService_Callout_StationTarget_Legacy_TRIGGEREDIT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IServiceCalloutService">
    <wsdl:operation name="Callout_Service_EditService">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IServiceCalloutService/Callout_Service_EditService" message="tns:IServiceCalloutService_Callout_Service_EditService_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IServiceCalloutService/Callout_Service_EditServiceResponse" message="tns:IServiceCalloutService_Callout_Service_EditService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IHomeInstallationsCalloutService">
    <wsdl:operation name="Callout_HomeInstallations_GetWindowmaker">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_GetWindowmaker" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_GetWindowmaker_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_GetWindowmakerResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_GetWindowmaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_HomeInstallations_AdminCosting">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_AdminCosting" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_AdminCosting_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_AdminCostingResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_AdminCosting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_HomeInstallations_EditSold">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_EditSold" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_EditSold_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_EditSoldResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_EditSold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_HomeInstallations_ScheduleNewWorkOrder">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_ScheduleNewWorkOrder" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_ScheduleNewWorkOrder_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_ScheduleNewWorkOrderResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_ScheduleNewWorkOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_HomeInstallations_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_AddRecord" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_AddRecordResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_HomeInstallations_CreateServiceRequest">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_CreateServiceRequest" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_CreateServiceRequest_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IHomeInstallationsCalloutService/Callout_HomeInstallations_CreateServiceRequestResponse" message="tns:IHomeInstallationsCalloutService_Callout_HomeInstallations_CreateServiceRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IManufacturerTrackingCalloutService">
    <wsdl:operation name="Callout_ManufacturerTracking_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IManufacturerTrackingCalloutService/Callout_ManufacturerTracking_AddRecord" message="tns:IManufacturerTrackingCalloutService_Callout_ManufacturerTracking_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IManufacturerTrackingCalloutService/Callout_ManufacturerTracking_AddRecordResponse" message="tns:IManufacturerTrackingCalloutService_Callout_ManufacturerTracking_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IMaterialsInformationCalloutService" />
  <wsdl:portType msc:usingSession="false" name="IInventoryManagerCalloutService">
    <wsdl:operation name="Callout_InventoryManager_GetBOMItems">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IInventoryManagerCalloutService/Callout_InventoryManager_GetBOMItems" message="tns:IInventoryManagerCalloutService_Callout_InventoryManager_GetBOMItems_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IInventoryManagerCalloutService/Callout_InventoryManager_GetBOMItemsResponse" message="tns:IInventoryManagerCalloutService_Callout_InventoryManager_GetBOMItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_InventoryManager_DeleteBOM">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IInventoryManagerCalloutService/Callout_InventoryManager_DeleteBOM" message="tns:IInventoryManagerCalloutService_Callout_InventoryManager_DeleteBOM_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IInventoryManagerCalloutService/Callout_InventoryManager_DeleteBOMResponse" message="tns:IInventoryManagerCalloutService_Callout_InventoryManager_DeleteBOM_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="ISupplyOnlyCalloutService">
    <wsdl:operation name="Callout_SupplyOnly_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/ISupplyOnlyCalloutService/Callout_SupplyOnly_AddRecord" message="tns:ISupplyOnlyCalloutService_Callout_SupplyOnly_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/ISupplyOnlyCalloutService/Callout_SupplyOnly_AddRecordResponse" message="tns:ISupplyOnlyCalloutService_Callout_SupplyOnly_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IWindowsItemTrackerCalloutService">
    <wsdl:operation name="Callout_WindowsItemTracker_UpdateItemStatus">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_UpdateItemStatus" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_UpdateItemStatus_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_UpdateItemStatusResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_UpdateItemStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_WindowsItemTracker_MovetoOnhold">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_MovetoOnhold" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_MovetoOnhold_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_MovetoOnholdResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_MovetoOnhold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_WindowsItemTracker_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_AddRecord" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_AddRecordResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_WindowsItemTracker_Movetoshipped">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_Movetoshipped" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_Movetoshipped_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_MovetoshippedResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_Movetoshipped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_WindowsItemTracker_EditRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_EditRecord" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_EditRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_EditRecordResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_EditRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_WindowsItemTracker_BacktoInprogress">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_BacktoInprogress" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_BacktoInprogress_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IWindowsItemTrackerCalloutService/Callout_WindowsItemTracker_BacktoInprogressResponse" message="tns:IWindowsItemTrackerCalloutService_Callout_WindowsItemTracker_BacktoInprogress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IJobSiteReviewCalloutService">
    <wsdl:operation name="Callout_JobSiteReview_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IJobSiteReviewCalloutService/Callout_JobSiteReview_AddRecord" message="tns:IJobSiteReviewCalloutService_Callout_JobSiteReview_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IJobSiteReviewCalloutService/Callout_JobSiteReview_AddRecordResponse" message="tns:IJobSiteReviewCalloutService_Callout_JobSiteReview_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IInstallationTrackingCalloutService">
    <wsdl:operation name="Callout_InstallationTracking_DeleteRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_DeleteRecord" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_DeleteRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_DeleteRecordResponse" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_DeleteRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_InstallationTracking_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_AddRecord" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_AddRecordResponse" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callout_InstallationTracking_EditRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_EditRecord" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_EditRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IInstallationTrackingCalloutService/Callout_InstallationTracking_EditRecordResponse" message="tns:IInstallationTrackingCalloutService_Callout_InstallationTracking_EditRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="IServiceReviewCalloutService">
    <wsdl:operation name="Callout_ServiceReview_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/IServiceReviewCalloutService/Callout_ServiceReview_AddRecord" message="tns:IServiceReviewCalloutService_Callout_ServiceReview_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/IServiceReviewCalloutService/Callout_ServiceReview_AddRecordResponse" message="tns:IServiceReviewCalloutService_Callout_ServiceReview_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="false" name="ICHIPurchaseOrderCalloutService">
    <wsdl:operation name="Callout_CHIPurchaseOrder_AddRecord">
      <wsdl:input wsa10:Action="http://flowfinity.com/ServiceContract/ICHIPurchaseOrderCalloutService/Callout_CHIPurchaseOrder_AddRecord" message="tns:ICHIPurchaseOrderCalloutService_Callout_CHIPurchaseOrder_AddRecord_InputMessage" />
      <wsdl:output wsa10:Action="http://flowfinity.com/ServiceContract/ICHIPurchaseOrderCalloutService/Callout_CHIPurchaseOrder_AddRecordResponse" message="tns:ICHIPurchaseOrderCalloutService_Callout_CHIPurchaseOrder_AddRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>